
.back{
	text-align: center;
	margin: 0 auto;
	background-color: black;
}

.box {
	background-color: #ffffff;
	text-align: center;
	border-radius: 0.5em;
	box-shadow: 7px 9px 23px 3px rgba(0,0,0,0.63);	
	margin: 0 auto;
}

.iconbar1{
	margin: 30px 30px;
	font-size: 30px;
}

.iconbar2{
	margin: 30px 30px;
	font-size: 30px;
}

.iconbar3{
	margin: 30px 30px;
	font-size: 30px;
}
.bar1{
	margin: 50px 375px;
	font-size: 30px;
	border: 4px solid;
	padding: 30px;
	background-color: #0066CC;
	border-color: white;
}